USE [school]
GO
/****** Object:  Table [dbo].[students]    Script Date: 5/4/2026 10:16:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [email], [age]) VALUES (1, N'Nguyễn Văn A', N'a@gmail.com', 20)
INSERT [dbo].[students] ([id], [name], [email], [age]) VALUES (2, N'Trần Thị B', N'b@gmail.com', 20)
INSERT [dbo].[students] ([id], [name], [email], [age]) VALUES (3, N'Lê Văn C', N'c@gmail.com', 20)
SET IDENTITY_INSERT [dbo].[students] OFF
GO
